html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    font-family: Arial;
}
.pageview{
   position: absolute;
   left: 0;
   top:0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   -webkit-transition: 0.4s ease-out -webkit-transform;
   -webkit-transform:translateX(0%);
}
.right-arrow{
    position: absolute;
    border: 3px solid #fff;
    height: 2.5em;
    width: 2.5em;
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-bottom: none;
    right: 2em;
    top: 50%;
    margin-top: -3em;
}
.left-arrow{
    position: absolute;
    border: 3px solid #fff;
    height: 2.5em;
    width: 2.5em;
    -webkit-transform: rotate(-135deg);
    border-left: none;
    border-bottom: none;
    left: 2em;
    top: 50%;
    margin-top: -3em;
}
h3{
    text-align: center;
    font-family: Microsoft YaHei;
    color: #fff;
    font-size: 1.7em;
    font-weight: normal;
}

@media screen and (max-width: 360px) {
    html,body{font-size: 15px}
}
@media screen and (min-width: 360px) and (max-width: 400px) {
    html,body{font-size: 16px}
}
@media screen and (min-width: 400px) and (max-width: 460px) {
    html,body{font-size: 18px}
}
@media screen and (min-width: 460px){
    html,body{font-size: 24px}
}

